.feedbackModal form {
  display: flex;
  flex-direction: column;
}

.feedbackModal textarea {
  margin: 5px 0 10px;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
}

.feedbackModal .button[type="submit"] {
  margin-top: 5px;
  width: 6rem;
  align-self: flex-end;
}

#notificationsList {
  padding: 10px;
  margin: 10px 0;
}

#notificationsList .notification {
  list-style-type: none;
  margin: 5px 0 15px;
  border-bottom: 2px solid var(--primaryColor);
  padding-bottom: 5px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

#notificationsList .notificationContent {
  display: block;
  margin-bottom: 5px;
}

#notificationsList .footer {
  display: block;
  width: fit-content;
  font-size: 0.8rem;
  align-self: flex-end;
}
