@import "./layout.css";
@import "./queue.css";
@import "./sharedNotes.css";
@import "./feedback.css";
@import "./widgets.css";

:root {
  --primaryColor: #5cb270;
  --secondaryColor: #82c26e;
  --tertiaryColor: #a8d26d;
  --primaryDark: #1a1b1a;
  --secondaryDark: #353535;
  --primaryFontColor: white;
  --secondaryFontColor: #c2c2c2;
  --tertiaryFontColor: #939393;
  --headerHeight: 60px;
  --footerHeight: 40px;
}

html,
body {
  height: 100%;
}

*,
body {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font: 1em sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primaryDark);
}

.button {
  cursor: pointer;
  font-size: 0.9rem;
  background: var(--primaryColor);
  color: var(--primaryFontColor);
  border: none;
  border-radius: 4px;
}

.button:hover {
  background: var(--secondaryColor);
}

.button:focus-visible {
  background: var(--secondaryColor);
}

.input {
  padding: 10px 8px;
  border: 1px solid #474948;
  background: var(--primaryDark);
  color: var(--secondaryFontColor);
  font-size: 0.9rem;
}

.input.errored {
  border-color: rgb(211, 75, 75);
}

textarea {
  background: var(--secondaryDark);
  color: var(--secondaryFontColor);
  padding: 5px;
  resize: none;
}

textarea::placeholder {
  color: var(--tertiaryFontColor);
}

textarea:disabled {
  border: none;
}
