.sharedNotesModal .context {
  display: block;
  margin: 0 0 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tertiaryFontColor);
  font-size: 0.8rem;
}

.sharedNotesModal .context > label {
  display: flex;
  align-items: center;
}

.sharedNotesModal .context > label,
.sharedNotesModal .context > label > input {
  cursor: pointer;
}

.sharedNotesModal .context > .info {
  font-size: 0.75rem;
}

.sharedNotesModal form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sharedNotesModal textarea {
  height: 100%;
  margin: 5px 0 10px;
  width: 100%;
  box-sizing: border-box;
}
