.sharedNotesModal .context {
  display: block;
  margin: 10px 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--tertiaryFontColor);
  font-size: 0.8rem;
}

.sharedNotesModal .context > label,
.sharedNotesModal .context > label > input {
  cursor: pointer;
}

.sharedNotesModal .context > label > input {
  width: 10px;
}

.sharedNotesModal .context > .info {
  font-size: 0.75rem;
}

.sharedNotesModal form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sharedNotesModal textarea {
  height: 100%;
  margin: 5px 0 10px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .sharedNotesModal textarea {
    font-size: 1.1rem;
  }
}
