.sharedNotesModal {
  margin: 0 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: relative;
}

.sharedNotesModal .context {
  display: block;
  margin: 10px 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--tertiaryFontColor);
  font-size: 0.8rem;
}

.sharedNotesModal header > label,
.sharedNotesModal header > label > input {
  cursor: pointer;
}

.sharedNotesModal header > label > input {
  width: 10px;
}

.sharedNotesModal header > .info {
  font-size: 0.75rem;
}

.sharedNotesModal form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sharedNotesModal textarea {
  height: 100%;
  margin: 5px 0 10px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  #pageHeader,
  #widgets {
    display: none;
  }

  .pageContent .container {
    width: 100vw;
  }

  .sharedNotesModal {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100vw;
    height: calc(100vh - var(--footerHeight));
    background: var(--secondaryBackground);
  }

  .sharedNotesModal textarea {
    font-size: 1.1rem;
  }
}
