.actionIcon {
  cursor: pointer;
}

.timer {
  font-size: 0.8rem;
  cursor: pointer;
}

.restartTimer {
  border: none;
  background: transparent;
}

.notificationsBell.active {
  background: var(--tertiaryColor);
}

.shakingBell.unread {
  animation: shake-animation 1.72s ease infinite;
  transform-origin: 50% 50%;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  color: var(--secondaryFontColor);
  font-size: 0.85rem;
  border-left: 3px solid var(--tertiaryColor);
  padding: 0px 5px;
}

.toast .button {
  transform: scale(0.8);
}

#widgets {
  top: 70px;
}

@media (max-width: 640px) {
  #pageHeader,
  #widgets {
    display: none;
  }
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
