.actionIcon {
  cursor: pointer;
}

.timer {
  font-size: 0.8rem;
  cursor: pointer;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  color: var(--secondaryFontColor);
  font-size: 0.85rem;
  border-left: 3px solid var(--tertiaryColor);
  padding: 0px 5px;
}

.toast .button {
  transform: scale(0.8);
}

#widgets {
  top: 70px;
}

@media (max-width: 640px) {
  #pageHeader,
  #widgets {
    display: none;
  }
}
