.actionIcon {
  cursor: pointer;
}

.timer {
  font-size: 0.8rem;
  cursor: pointer;
}

.restartTimer {
  border: none;
  background: transparent;
}

.pageTitle {
  width: 300px;
  max-height: 50px;
  background: transparent;
  border: none;
  color: #1b581b;
  font-size: 1.1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.notificationsBell.active {
  background: var(--tertiaryColor);
}

.shakingBell.unread {
  animation: shake-animation 1.72s ease infinite;
  transform-origin: 50% 50%;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  color: var(--secondaryFontColor);
  font-size: 0.85rem;
  border-left: 3px solid var(--tertiaryColor);
  padding-left: 5px;
}

.toast .button {
  transform: scale(0.8);
}

#speakerName {
  max-width: 190px;
}

.identity {
  color: var(--secondaryFontColor);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
}

.identity .name {
  padding: 0 7px;
  font-size: 0.9rem;
}

#widgets {
  position: fixed;
  width: 116px;
  top: 70px;
  right: 4px;
  font-size: 0;
  background: white;
}

#widgets div {
  margin: 8px;
}

#widgets #text_stats {
  font-size: 12px;
}

@media (max-width: 640px) {
  #pageHeader,
  #widgets {
    display: none;
  }

  .toast {
    font-size: 0.9rem;
  }
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
